@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }
  header{
    background-color: #f2aaae;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }

  
  h1 {
    text-align: center;
    font-size: 4em;
    color: #272320;
    font-family: 'Quicksand', sans-serif;
  }
    
  h2 {
    text-align: center;
    font-size: 2em;
    color: #272320;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

  }


  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .product {
    border: 5px solid #f2aaae;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0 ;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    border: 3px solid #d0aad1;

  }
  
  .product-name {
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
  }
  
  .product-price {
    color: #888;
    font-size: 1em;
  }

  .btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
  


  @media screen and (min-width: 900px) and (max-width: 1500px){
    
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid #d0aad1;
    border-radius: 5%;
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    margin-right:2em; 
  }
}

@media screen and (min-width: 280px) and (max-width: 1000px){
    
  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .product img {
    max-width: 100%;
    height: auto;
    border: 3px solid #d0aad1;
    border-radius: 5%;
    margin-right:2em; 
  }
}
